# Concept Folder
[Cc]oncepting/

# Art Files
*.jpg
*.png

# Music Files - Alternatively, ignore Music folder; however, to provide README instructions chosen this method.
*.ogg
*.wav
*.flac
*.aiff
*.au
*.raw
*.paf
*.svx
*.nist
*.voc
*.ircam
*.w64
*.mat4
*.mat5
*.pvf
*.htk
*.sds
*.avr
*.sd2
*.caf
*.wve
*.mpc2k
*.rf64

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Build results
[Bb]uild/
[Dd]ebugPublic/
[Dd]ebug/
[Rr]eleases/
x64/
x86/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# Custom
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.VC.opendb
*.VC.db

# Others
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs